<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="updateAddress" value="http://192.168.175.117/smes/Tools/ModelFirst/"/>
    <add key="manifest" value="Manifest.xml"/>
    <add key="mainModuleName" value="ModelFirst"/>
    <add key="processName" value="EAP.ModelFirst"/>
    <add key="L10N.Cancel" value="取消"/>
    <add key="L10N.Run" value="继续运行"/>
    <add key="L10N.CheckingUpdate" value="检测更新..."/>
    <add key="L10N.CopyingFiles" value="正在复制文件"/>
    <add key="L10N.DeleteFileFailure" value="删除文件失败"/>
    <add key="L10N.DeletingTempFiles" value="删除临时文件..."/>
    <add key="L10N.Downloading" value="下载更新包"/>
    <add key="L10N.ExtractedFile" value="已解压文件"/>
    <add key="L10N.KillProcessConfirmation" value="檢測到程序正在運行，請關閉程序。\r\n確定已經關閉并繼續？"/>
    <add key="L10N.Updating" value="正在更新"/>
  </appSettings>
</configuration>