<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EAP.ModelFirst.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="EAP.ModelFirst.Properties.WindowSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" /></startup>
  <userSettings>
    <EAP.ModelFirst.Properties.WindowSettings>
      <setting name="WindowPosition" serializeAs="String">
        <value>100, 100</value>
      </setting>
      <setting name="IsWindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>900, 700</value>
      </setting>
      <setting name="Docking" serializeAs="String">
        <value />
      </setting>
      <setting name="StatusBarVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StandardToolBarVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VisualizerToolBarVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LayoutToolBarVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TextEditorBarVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StandardToolBarPosition" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="VisualizerToolBarPosition" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="LayoutToolBarPosition" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="TextEditorBarPosition" serializeAs="String">
        <value>-1, -1</value>
      </setting>
    </EAP.ModelFirst.Properties.WindowSettings>
    <EAP.ModelFirst.Properties.Settings>
      <setting name="DiagramWidth" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="DiagramHeight" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="UsePrecisionSnapping" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowChevron" serializeAs="String">
        <value>AsNeeded</value>
      </setting>
      <setting name="ShowType" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowParameters" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowParameterNames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowInitialValue" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseClearType" serializeAs="String">
        <value>Never</value>
      </setting>
      <setting name="UseClearTypeForImages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultLanguageName" serializeAs="String">
        <value>UML</value>
      </setting>
      <setting name="UILanguage" serializeAs="String">
        <value>zh-CN</value>
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RememberOpenProjects" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="TemplateFolder" serializeAs="String">
        <value>Templates</value>
      </setting>
    </EAP.ModelFirst.Properties.Settings>
  </userSettings>
</configuration>
